black
setuptools<81
torch
torchvision
jupyter
imageio
scipy
scikit-image
tensorboard
matplotlib
ipykernel
jupytext
numpy<2
cellpose>=3.1,<4
dlmbl_unet @ git+https://github.com/dlmbl/dlmbl-unet
mwatershed
